.ant-divider-vertical {
    border-left: 1px solid var(--text-color-3);
}

.anticon {
    color: var(--text-color-1);
}

.ant-tree-treenode-selected:before {
    background-color: var(--primary-color) !important;
}

.ant-anchor-ink-ball {
    border: 2px solid var(--primary-color);
}

.ant-anchor-link-active > .ant-anchor-link-title {
    color: var(--primary-color);
}

.ant-anchor-link-title:hover {
    color: var(--primary-color);
}

.ui.grid {
    margin: 0;
}

.ui.checkbox label{
    color: var(--text-color-2) !important;
}
.ui.toggle.checkbox input:checked~.box, .ui.toggle.checkbox input:checked~label {
    color: var(--text-color-2) !important;
 }


.medium-zoom-overlay {
    background: black;
}


.ant-custom-message{
    bottom: 0;
    right: 0;
    z-index: 100;
}