/*色系变量配置*/

body {
  /*// 主色调 */
  --dark-primary-color: #6435c9;
  --dark-active-color: #FF9001;
  
  /*// 背景色变量*/
  --dark-background-color-1: #17171a;
  --dark-background-color-2: #232324;
  --dark-background-color-3: #2a2a2b;
  --dark-background-color-4: #313132;
  --dark-background-color-5: #373739;
  
  /*// 文本色变量*/
  --dark-text-color-1: hsla(0,0%,100%,0.9);
  --dark-text-color-2: hsla(0,0%,100%,0.7);
  --dark-text-color-3: hsla(0,0%,100%,0.5);
  --dark-text-color-4: hsla(0,0%,100%,0.3);
  --dark-text-color-5: hsla(0,0%,100%,0.1);
  
  /*// 主色调 */
  --light-primary-color: #6435c9;
  --light-active-color: #FF9001;

  /*// 背景色变量*/
  --light-background-color-1: #ffffff;
  --light-background-color-2: #ffffff;
  --light-background-color-3: #ffffff;
  --light-background-color-4: #ffffff;
  --light-background-color-5: #ffffff;

  /*// 文本色变量*/
  --light-text-color-1: rgba(0, 0, 0, 0.9);
  --light-text-color-2: rgba(0, 0, 0, 0.7);
  --light-text-color-3: rgba(0, 0, 0, 0.5);
  --light-text-color-4: rgba(0, 0, 0, 0.3);
  --light-text-color-5: rgba(0, 0, 0, 0.1);
  
}



// 暗色系
html[theme='dark'] {
  body {

    --primary-color: var(--dark-primary-color);
    --active-color:  var(--dark-active-color);

    /*// 背景色变量*/
    --background-color-1: var(--dark-background-color-1);
    --background-color-2: var(--dark-background-color-2);
    --background-color-3: var(--dark-background-color-3);
    --background-color-4: var(--dark-background-color-4);
    --background-color-5: var(--dark-background-color-5);


    /*// 文本色变量*/
    --text-color-1: var(--dark-text-color-1);
    --text-color-2: var(--dark-text-color-2);    
    --text-color-3: var(--dark-text-color-3);   
    --text-color-4: var(--dark-text-color-4); 
    --text-color-5: var(--dark-text-color-5);


  }
}

// 暗色系
html[theme='light'] {
  body {
    --primary-color: var(--light-primary-color);
    --active-color:  var(--light-active-color);

    /*// 背景色变量*/
    --background-color-1: var(--light-background-color-1);
    --background-color-2: var(--light-background-color-2);
    --background-color-3: var(--light-background-color-3);
    --background-color-4: var(--light-background-color-4);
    --background-color-5: var(--light-background-color-5);


    /*// 文本色变量*/
    --text-color-1: var(--light-text-color-1);
    --text-color-2: var(--light-text-color-2);
    --text-color-3: var(--light-text-color-3);
    --text-color-4: var(--light-text-color-4);
    --text-color-5: var(--light-text-color-5);
  }
}