<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jansora.repo.mysql.mapper.QueryMapper">



    <select id="isExist" resultType="java.lang.Boolean">
        SELECT COUNT(*) FROM ${tableName}
        <where>
            <choose>
                <when test="conditions != null ">
                    <foreach item="condition" collection="conditions" open="" separator="" close="">
                        AND ${condition.fieldName} ${condition.sign} #{condition.fieldValue}
                    </foreach>
                </when>
            </choose>
        </where>
    </select>

    <select id="queryOne" resultType="java.lang.String">
        SELECT ${fieldName} FROM ${tableName}
        <where>
            <choose>
                <when test="conditions != null ">
                    <foreach item="condition" collection="conditions" open="" separator="" close="">
                        AND ${condition.fieldName} ${condition.sign} #{condition.fieldValue}
                    </foreach>
                </when>
            </choose>
        </where>
    </select>
    <select id="query" resultType="java.lang.String">
        SELECT ${fieldName} FROM ${tableName}
        <where>
            <choose>
                <when test="conditions != null ">
                    <foreach item="condition" collection="conditions" open="" separator="" close="">
                        AND ${condition.fieldName} ${condition.sign} #{condition.fieldValue}
                    </foreach>
                </when>
            </choose>
        </where>
    </select>

</mapper>