
.markdown-body {
    padding: 24px;
    background-color: var(--background-color-2);
}

.markdown-body p > img {
    max-height: 400px !important;
    display: block;
    margin: 16px 0;
}

.bytemd-toolbar svg{

    width: 24px;
    height: 24px;
}
.bytemd {
    border: none;

}
.bytemd-body {
    border-color: var(--background-color-2);;
    background-color: var(--background-color-2);
    height: calc(100vh - 220px);
}

.bytemd-toolbar {
    display: flex;
    background-color: var(--background-color-2);
}

.bytemd-toolbar svg {
    color: var(--text-color-1);
}


.bytemd-preview {
    background-color: var(--background-color-2);
}

.CodeMirror-cursor {
    border-left: 1px solid var(--text-color-3);
}
/*body {*/
/*    @import "./github-markdown-dark";*/
/*}*/





