@import (css) url('https://cdn.jansora.com/lib/semantic-ui-css/custom-2.4.1/semantic-ui-css/semantic.min.css');

body, html {
  height: unset;
}

/*// 格式变量配置*/
body {
   margin: unset;
   height: 100vh;
   //overflow: auto;

   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   --header-height: 43px;
   --footer-height: 35px;

   --layout-header-height: 35px;

   --aside-width: 50px;
   --aside-height: 50px;
   --active-aside-width: 120px;

   --transparent-background-color: hsla(0,0%,100%,.32);

   --active-backgroud-color: #fff;

   background-color: var(--background-color-3);

   color: var(--text-color-1);
   //--primary-6: var(--primary-color);

  //animation: ;
  //transform: ;
  //transition: background-color 100ms ease-in-out;
}


#root {
    height: 100%;
    margin: 0;
}

::selection {
    background-color: var(--primary-color);
    color: white;
}


.active{
    color: var(--primary-color);
}



::selection {
    background-color: var(--primary-color);
    color: white;
}
::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    border: 3px;
    z-index: 10000;
}
::-webkit-scrollbar-thumb {
    width:6px;
    background-color: var(--primary-color) !important;
    -webkit-border-radius: 2px;
    outline: 1px solid  var(--primary-color);
    outline-offset: -2px;
    border: 3px solid  var(--primary-color);

}

::-webkit-scrollbar-track {
    /*display: none;*/
}

::-webkit-scrollbar {
    /*display: none;*/

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


a {
  //color: var(--primary-color);
  color: var(--text-color-1);
  text-decoration: none;
}

a:hover {
  //color: var(--active-color);
  color: var(--primary-color);
  text-decoration: none;
}


.ant-custom-message {
  z-index: 1001;
}